.footer {
    display: flex; 
    justify-content: center; 
    background-color: #000;
    .center {
        width: 1200px; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        p {
            color: #fff;
            img {
                margin: 10px 0; 
                width: 70px;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .footer {
        .center {
            width: 80%; 
        }
    }
}