.footer {
    display: flex; 
    justify-content: center; 
    background-color: #000;
    .center {
        width: 80%; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        p {
            color: #fff;
            img {
                margin: 10px 0; 
                width: 70px;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .footer {
        .center {
            width: 80%; 
        }
    }
}
@media screen and (max-width:640px) {
    .footer{
        .center{
            justify-content: center;
            p{
                display: flex;
                align-items: center;
                height: 50px;
                font-size: 13px;
                img{
                    display: none;
                }
            }
        }
    }
}