@import "reset";
@import "subHeader";
@import "footer";
.container {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 100px 0;
    &::before{
        content: "";
        position: absolute;
        width: calc(298px / 2);
        top: 0;
        right: 0;
        z-index: 2;
        pointer-events: none;
        height: 100%;
        background: linear-gradient(270deg,#000 0,rgba(255,255,255,0) 100%);
    }
    .store{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 40px;
            color: #44d62c;
            margin-bottom: 40px;
        }
        .listWrap{
            width: 67.5%;
            display: flex;
            justify-content: space-between;
            .boxLIst{
                width: 30%;
                text-align: center;
                word-spacing: 0.5px;
                h2{
                    font-size: 28px;
                    color: #44d62c;
                    margin: 20px 0;
                }
                p{
                    font-size: 18px;
                    word-break: keep-all;
                    color: #fff;
                    line-height: 25px;
                }
            }
        }
        .img_over_wrap{
            width: 100%;
            position: relative;
            height: 60vh;
            margin-top: 50px;
            cursor: pointer;
            .imgWrap{
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all 1s;
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../img/listbg2.jpg);
                .textWrap{
                   display: flex;
                   flex-direction: column;
                   align-items: flex-end;
                   justify-content: center;
                   height: 100%;
                   margin-right: 100px;
                    h2{
                        font-size: 30px;
                        color: red;
                        width: 20%;
                        line-height: 40px;
                    }
                    p{
                        width: 20%;
                        color: #fff;
                        line-height: 24px;
                        word-break: keep-all;
                    }
                }
                &:nth-child(2){
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    background-image: url(../img/listbg2-1.png);
                    
                }
                
                
            }
            &:hover{
                .imgWrap{
                    
                    &:nth-child(2){
                        clip-path: polygon(0 0, 18% 0, 17% 100%, 0 100%);
                        
                    }
                    
                }
                
            }    
        }
    }
        .list{
            position: relative;
            margin: 30px 0;
            .title_wrap{
                margin-left: 16%;
                display: flex;
                flex-direction: column;
                .title{
                    color: #44d62c;
                    font-size: 28px;
                    margin: 20px 0;
                }
                p{
                    color: #d9d9d9;
                }
            }
            .boxWrap {
                width: 200%; height: 100%;
                position: relative;
                display: grid;
                grid-template-columns: repeat(10,1fr);
                gap: 2rem;
                padding: 0;
                grid-template-rows: max-content;
                margin-left: 16%;
                transform: translateX(0);
                transition: all .5s;
                margin-top: 30px;
                .showBox{
                    margin: 30px 0;
                    border: 1px solid #44d62c;
                    background-color: #111; 
                    opacity: 1; 
                    transition: all 0.5s; border-radius: 3px;
                    img {
                        width: 100%;
                        cursor: pointer;
                    }
                    .textWrap {
                        display: flex; flex-direction: column; 
                        justify-content: space-between; 
                        background-color: #222; 
                        line-height: 25px; width: 100%; 
                        height: 200px; padding: 15px; 
                        word-spacing: 0px;
                        box-sizing: border-box; color: #fff;
                        h3 { 
                            font-size: 1.125rem; 
                            font-weight: normal;
                            white-space: break-spaces;
                            color: #d9d9d9;
                        }
                        >div {
                            display: flex; 
                            justify-content: space-between;
                            .buy {
                                display: flex; justify-content: center; 
                                align-items: center; width: 50px; height: 30px; 
                                background-color: #73e161; 
                                border-radius: 5px; color: #000; 
                                margin-right: 10px;
                            }
                        }
                        
                    }
                }
            }
            .mid_btn{
                left: 0;
                top: 55%;
                transform: translateY(-50%);
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 0;
                z-index: 3;
                >div {
                    width: 60px; height: 60px; 
                    color: #fff; 
                    font-size: 40px; display: flex; 
                    justify-content: center; 
                    align-items: center; 
                    color: #44d62c; cursor: pointer;
                }
                .prev{
                    margin-left: 25px;
                    opacity: 0;
                }
            }
        }
    }
@media screen and (max-width:1024px) {
    .container {
        &::before{
            display: none;
        }
        .store{
            h2{
                font-size: 34px;
            }
            .listWrap{
                width: 95%;
                .boxLIst{
                    word-break: keep-all;
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .img_over_wrap{
                height: 30vh;
                .imgWrap{
                    
                    .textWrap{
                        display: none;
                        h2{
                            font-size: 25px;
                            line-height: 35px;
                        }
                        p{
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .list{
            .boxWrap {
                
                .showBox{
                    .textWrap {
                        font-size: 14px;
                        line-height: 22px;
                        height: 180px;
                        padding: 10px 5px; 
                        h3 {
                            font-size: 14px; 
                        }
                        >div {
                            p{
                                font-size: 12px;
                                margin-right: 3px;
                            }
                            a {
                                width: 30px; height: 20px; 
                                font-size: 12px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}
@media screen and (max-width:640px) {
    .container {
        padding: 100px 0 50px;
        .store{
            h2{
                font-size: 26px;
            }
            .listWrap{
                flex-direction: column;
                .boxLIst{
                    width: 100%;
                    word-break: keep-all;
                    h2{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .img_over_wrap{
                .imgWrap{
                    .textWrap{
                        h2{
                            font-size: 25px;
                            line-height: 35px;
                        }
                        p{
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .list{
            .title_wrap{
                margin: 0;
                text-align: center;
                word-break: keep-all;
            }
            .boxWrap {
                width: 100%;
                position: static;
                display: flex;
                gap: 0;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-left: 0%;
                .showBox{
                    width: 48%;
                    .textWrap{
                        h3{ font-size: 16px; line-height: 28px;}
                        >div{
                            align-items: center;
                            p{font-size: 14px;}
                            a{width: 40px; height: 20px; font-size: 14px; }
                        }
                    }
                }
            }
            .mid_btn{
                display: none;
                
            }
        }
    }
}