@import "reset";
@import "header";
@import "footer";
/* container */
.container{
    /* top_cont */
    .cont1 {
        height: 100vh;
        position: relative; 
        overflow: hidden;
        .bg {
            min-width: 100%; 
            min-height: 100%; 
            position: absolute; 
            left: 50%; top: 50%; 
            transform: translate(-50%, -50%);
        }
        .text {
            position: absolute; 
            left: 65%; top: 39%;
            transform: translate(-50%,-50%); 
            width: 100%;
            font-size: 50px; color: #fff; 
            line-height: 80px; font-weight: bold;
            
            .typing{
                display: block;
                height: 150px;
                &::before{
                    content: ""; 
                    display: inline-block;
                    position: absolute;
                    left: -30px;
                    width: 20px;
                    height: 148px;
                    background-color: #44d62c;
                }
                &::after {
                    content: "|"; 
                    font-size: 50px; 
                    color: #fff; 
                    animation: cursor .3s linear infinite; 
                    position: relative; top: -5px;
                }
            }
            p{
                .color{
                    font-size: 24px;
                    color: #44d62c;
                }
                position: absolute;
                top: 300%;
                left: -15%;
                text-align: end;
                width: 85%;
                font-size: 20px;
                line-height: 30px;
                &::after{
                    content: ""; 
                    display: inline-block;
                    position: absolute;
                    top: -11%;
                    right: -30px;
                    width: 20px;
                    height: 72px;
                    background-color: #44d62c;
                }
                
            }
            @keyframes cursor {
                0% {opacity: 1;}
                100% {opacity: 0;}
            }
        }
    }
    /* mid_cont */
    .cont2 {
        border-bottom: 1px solid #44d62c;
        .list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .lists{
                cursor: pointer;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 700px;
                margin: 15px 10px 15px;
                box-sizing: border-box;
                &:nth-child(1){
                    background-image: url(../img/listbg1.png);
                }
                &:nth-child(2){
                    background-image: url(../img/listbg2.png);
                }
                &:nth-child(3){
                    width: 47.5%;
                    height: 50vh;
                    background-image: url(../img/listbg3.png);
                }
                &:nth-child(4){
                    width: 47.5%;
                    height: 50vh;
                    background-image: url(../img/listbg4.png);
                }
                &:nth-child(5){
                    width: 47.5%;
                    height: 50vh;
                    background-image: url(../img/listbg5.png);
                }
                &:nth-child(6){
                    width: 47.5%;
                    height: 50vh;
                    background-image: url(../img/listbg7.jpg);
                }
                &:nth-child(7){
                    background-size: cover;
                    background-image: url(../img/listbg6.png);
                }
                .textWrap{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2{
                        text-align: center;
                        margin: 40px 0px 20px 0;
                        font-size: 30px;
                        color: #fff;
                    }
                    h3{
                        text-align: center;
                        font-weight: normal;
                        color: #fff;
                    }
                }
                .buy{
                    display: flex;
                    justify-content: center;
                    width: 70%;
                    a{
                        color: #fff;
                        margin: 20px 25px;
                        font-size: 15px;
                        i{
                            margin-left: 2px;
                            color: #44d62c;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    
                }
            }
        }
        
    } 
    /* bot_cont */
    .cont3 {
        height: 100vh; 
        display: flex; 
        align-items: center;
        flex-direction: column;
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0;
            h2{
                font-size: 45px;
                color: #44d62c;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
            p{
                display: flex;
                justify-self: center;
                font-size: 25px;
                color: #fff;
            }
        }
        .slideWrap  {
            width: 62.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            .slide {
                position: relative;
                width: 100%;
                .viewWrap {
                    height: 75vh;
                    .view {
                        position:absolute; 
                        width: 100%; height: 100%; 
                        left: 0; top: 0; 
                        transition: all .5s; 
                        opacity: 0; background-position: center;
                        background-repeat: no-repeat; 
                        background-size: cover;
                        &:nth-child(1) {background-image: url(../img/slideimg1.png);}
                        &:nth-child(2) {background-image: url(../img/slideimg2.png);}
                        &:nth-child(3) {background-image: url(../img/slideimg3.png);}
                        &:nth-child(4) {background-image: url(../img/slideimg4.png);}
                    }
                    .view.on {
                        opacity: 1; z-index: 4;
                    }
                }
                .btns{
                    >div {
                        position: absolute; 
                        top: 50%; transform: translateY(-50%); 
                        width: 60px; height: 60px; 
                        z-index: 5; color: #fff; 
                        font-size: 40px; display: flex; 
                        justify-content: center; 
                        align-items: center; 
                        color: #44d62c; cursor: pointer;
                    }
                    .prevBtn {left: 10px;}
                    .nextBtn {right: 10px;}
                } 
                .bot_btns {
                    position: absolute; 
                    bottom: 30px; left: 50%; 
                    transform: translateX(-50%);
                    z-index: 5; 
                    .bars {
                        display: flex; 
                        align-items: center;
                        >li {
                            margin: 0 10px;
                            >a {
                                display: block; width: 20px; 
                                height: 8px; background-color: #fff; 
                                transition: all .5s;
                            }
                        }
                        >li.on {
                            a {
                                width: 50px; 
                                background-color: #44d62c;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px) {
    /* container */
    .container{
        // cont1
        .cont1 {
            .text {
                p{
                    top: 280%;
                    left: -12%;
                }
            }
        }
        /* cont2 */
        .cont2 {
            .list{
                .lists{
                    height: 75vh;
                    margin: 15px 0;
                    &:nth-child(3){
                        width: 49%;
                        height: 50vh;
                    }
                    &:nth-child(4){
                        width: 49%;
                        height: 50vh;
                    }
                    &:nth-child(5){
                        width: 49%;
                        height: 50vh;
                    }
                    &:nth-child(6){
                        width: 49%;
                        height: 50vh;
                    }
                    .buy{
                        a{
                            font-size: 14px;
                            margin: 20px
                        }
                    }
                }
            }
        } 
        /* cont3 */
        .cont3 {
            height: auto;
            .slideWrap  {
                width: 80%;
                
                .slide {
                    .viewWrap {
                        height: 50vh;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:640px) {
    /* header */
    .header {
        .center {
            width: 90%;
            .top_header{
                .join{
                    display: none;
                }
            }
            /* bot_header */
            .bot_header {
                display: none;
            }
        }
    }
    /* container */
    .container{
        // cont1
        .cont1 {
            
            .text {
                .typing{
                    font-size: 24px;
                    line-height: 32px;
                    &::before{
                        content: ""; 
                        height: 65px;
                    }
                    &::after {
                        font-size: 24px; 
                    }
                }
                p{
                    top: 280%;
                    left: -12%;
                    font-size: 15px;
                }
            }
        }
        /* cont2 */
        .cont2 {
            .list{
                .lists{
                    height: 500px;
                    margin: 15px 0;
                    &:nth-child(3){
                        width: 100%;
                        height: 400px;
                    }
                    &:nth-child(4){
                        width: 100%;
                        height: 400px;
                    }
                    &:nth-child(5){
                        width: 100%;
                        height: 400px;
                    }
                    &:nth-child(6){
                        width: 100%;
                        height: 400px;
                    }
                    .textWrap{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h2{
                            text-align: center;
                            margin: 40px 0px 20px 0;
                            font-size: 24px;
                            color: #fff;
                        }
                        h3{
                            font-size: 16px;
                            text-align: center;
                            font-weight: normal;
                            color: #fff;
                        }
                    }
                    .buy{
                        a{
                            font-size: 13px;
                            margin: 20px
                        }
                    }
                }
            }
        } 
        /* cont3 */
        .cont3 {
            .title{
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
                }
            }
            .slideWrap  {
                width: 80%;
                
                .slide {
                    .viewWrap {
                        height: 30vh;
                    }
                    .btns{
                        >div {
                            width: 20px;
                            height: 20px;
                            font-size: 20px;
                        }
                        .prevBtn {left: -20px;}
                        .nextBtn {right: -20px;}
                    } 
                    .bot_btns {
                        bottom: 10px;
                        .bars {
                            >li {
                                >a {
                                    width: 15px; 
                                    height: 5px;
                                }
                            }
                            >li.on {
                                a {
                                    width: 30px; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}