<%- include('subHeader',{title:"Razer ID",cssFiles:["community.css"]}) %>
<div class="wrap">
    <video src="/img/membership_bg.mp4" muted autoplay loop></video>
    <div class="winner">
        <h2 class="title">자신만의 방식으로 승리하세요</h2>
        <p>‘For Gamers. By Gamers.’를 위해 탄생한 선도적인 라이프스타일 브랜드인 Razer의 목표는 간단합니다. 어떤 수고로움이 필요해도 모든 게이머에게 승리를 위한 이점을 제공하는 것입니다.</p>
        <p>수상 경력에 빛나는 하드웨어, 소프트웨어, 서비스부터 열정적인 e스포츠 세계 참여까지, 게이밍 여정의 어떤 단계에 계시든 <span>#WinItYourWay</span>를 실현하는 방법을 확인하세요.</p>
    </div>
    <div class="winner2">
        <h2 class="title">기술로 승리하세요</h2>
        <p>승리의 길이 아니라면 가지 않습니다. No1을 향한 추진력은 지속적인 혁신의 동기입니다. 업계 최고의 무선 기술부터 세계 최고의 몰입감을 자랑하는 광범위한 RGB 조명 에코시스템까지, 모든 면에서 최고의 성능을 자랑하는 Razer의 다양한 하드웨어를 살펴보세요.</p>
        <ul>
            <li>
                <a href="/store/detail/3">
                    <img src="/img/store/boximg3.png">
                </a>
                <a href="/store/detail/3">Razer DeathAdder V3 Pro</a>
            </li>
            <li>
                <a href="/store/detail/4">
                    <img src="/img/store/boximg4.png">
                </a>
                <a href="/store/detail/4">Razer BlackWidow V4 Pro</a>
            </li>
            <li>
                <a href="/store/detail/22">
                    <img src="/img/store/box3img2.png">
                </a>
                <a href="/store/detail/22">Razer BlackShark V2</a>
            </li>
            <li>
                <a href="/store/detail/28">
                    <img src="/img/store/box3img8.png">
                </a>
                <a href="/store/detail/28">Razer Kiyo Pro</a>
            </li>
        </ul>
        <a class="btn" href="/store">온라인에서 쇼핑하기</a>
    </div>
    <div class="winner3">
        <h2 class="title">빅리그에서 승리하세요</h2>
        <p>e스포츠의 선구자로서 게이밍 세계를 향한 Razer의 헌신과 투자는 오늘날까지 변함이 없습니다. Razer는 하드웨어는 물론, 세계 최고의 프로 게이머 및 콘텐츠 크리에이터의 성장에도 지속적으로 투자하고 있습니다.</p>
        <ul>
            <li><img src="/img/winner3_img01.jpg"></li>
            <li><img src="/img/winner3_img02.jpg"></li>
            <li><img src="/img/winner3_img03.jpg"></li>
        </ul>
    </div>
    <div class="winner4">
        <h2 class="title">#TEAMRAZER와 함께 승리해보세요</h2>
        <ul class="tabMenu">
            <li>SNEAKY</li>
            <li>PALADINAMBER</li>
            <li>FAKER</li>
            <li>SCUMP</li>
        </ul>
        <div class="views">
            <div class="view"></div>
            <div class="view"></div>
            <div class="view"></div>
            <div class="view"></div>
        </div>
        <div class="texts">
            <div class="textWrap">
                <h2>ZACH <span>‘SNEAKY</span>’ SCUDERI</h2>
                <h3>게이머, 코스플레이어 & 스트리머</h3>
                <p>Sneaky는 매력적인 콘텐츠를 제공하는 재미있는 스트리머, 다양성을 기념하는 유명 코스어이자 NA LCS 우승을 거머쥔 리그 오브 레전드 프로 플레이어로 모든 게이밍 분야에서 최고의 자리를 지키고 있습니다. 이는 모두 쉽게 이룰 수 없는 성과입니다.</p>
                <p class="link">Sneaky는 <a href="/store/detail/4">Razer BlackWidow V4 Pro</a>로 스포트라이트를 받고 있습니다.</p>
                <a href="/store/detail/4">
                    <img src="/img/store/boximg4.png">
                </a>
            </div>
            <div class="textWrap">
                <h2>AMBER <span>‘PALADINAMBER’</span> WADHAM</h2>
                <h3>프로 스트리머</h3>
                <p>콘텐츠의 인기를 더 높은 수준으로 끌어올리는 PaladinAmber는 쪼그맣지만 치명적입니다. 긍정적인 라이브 스트리밍 커뮤니티를 만든 거대한 챔피언인 그녀는 여러 트롤들을 가차없이 쫓아냅니다. 마치 레인보우 식스 시즈에서 적을 쓰러뜨리듯 말입니다. 여러분도 이런 멋진 모습을 가질 수 있습니다.</p>
                <p class="link">PaladinAmber는 <a href="/store/detail/28">Razer Kiyo Pro</a>로 스포트라이트를 받고 있습니다.</p>
                <a href="/store/detail/28">
                    <img src="/img/store/box3img8.png">
                </a>
            </div>
            <div class="textWrap">
                <h2>LEE <span>‘FAKER’</span> SANG-HYEOK</h2>
                <h3>3회 리그 오브 레전드 월드 챔피언</h3>
                <p>e스포츠 세계에 '페이커'만큼 경이로운 이름은 없습니다. 3회 리그 오브 레전드 월드 챔피언인 그는 계속해서 기록을 경신하고 있으며 최근에는 리그 오브 레전드 챔피언스 코리아 토너먼트에서 2,500 킬을 달성한 최초의 플레이어가 되었습니다.</p>
                <p class="link">Faker는 <a href="/store/detail/23">Razer DeathAdder V2 Pro</a>로 스포트라이트를 받고 있습니다.</p>
                <a href="/store/detail/23">
                    <img src="/img/store/box3img3.png">
                </a>
            </div>
            <div class="textWrap">
                <h2>SETH <span>‘SCUMP’</span> ABNER</h2>
                <h3>콜 오브 듀티 챔피언 및 엑스게임 금메달 2회 수상자</h3>
                <p>게임 역사상 최초로 10개의 서로 다른 콜 오브 듀티 타이틀 주요 이벤트에서 우승을 차지한 플레이어인 Scump는 지난 12년 동안 계속해서 높은 수준의 경쟁을 펼칠 뿐만 아니라 탁월한 성과를 보여주고 있습니다. 그는 ScumperJumper, Scump 등 다양한 이름으로 알려져 있지만 가장 완벽하게 어울리는 이름은 바로 King입니다.</p>
                <p class="link">Scump는 <a href="/store/detail/22">Razer BlackShark V2 Pro</a>로 스포트라이트를 받고 있습니다.</p>
                <a href="/store/detail/22">
                    <img src="/img/store/box3img2.png">
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
<script src="js/dropmenu.js"></script>
<script src="js/header.js"></script>
<script>
    const tabMenu = document.querySelectorAll(".tabMenu > li");
        const views = document.querySelectorAll(".view");
        const texts = document.querySelectorAll(".textWrap");
        
        for(let i=0; i<tabMenu.length; i++){
            
            tabMenu[i].addEventListener("click",()=>{
                
                for(let j=0; j<tabMenu.length; j++){
                    views[j].style.opacity = 0;
                    views[j].style.zIndex = 1;
                    texts[j].style.opacity = 0;
                    texts[j].style.zIndex = 1;
                    tabMenu[j].style.backgroundColor = "#151515"
                    tabMenu[j].style.color = "#fff"
                }
                texts[i].style.zIndex = 2;
                texts[i].style.opacity = 1;
                views[i].style.zIndex = 2;
                views[i].style.opacity = 1;
                tabMenu[i].style.backgroundColor = "#44d62c"
                tabMenu[i].style.color = "#000"
            })

        }
</script>
