<%- include('header',{title:"RAZER KOREA/SERVICE",cssFiles:["service.css"]},) %>
<div class="container">
    <div class="cont">
        <div class="list">
            <%- include('serviceData') %>
        </div>
    </div>
</div>
<%- include('footer') %>
<script src="/js/dropmenu.js"></script>
<script src="/js/header.js"></script>
</body>
</html>